* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;;
}


body {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-top: 15%;
    width: 15%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
